<div class = "row">
	<div = class = "col col-sm-8 col-sm-offset-2">
		<h3><CENTER> VARIATIONS </CENTER> </h3>
		<hr>
		<canvas id="line" class="chart chart-line" chart-data="data"
				chart-labels="labels" chart-series="series" chart-options="options"
				chart-dataset-override="datasetOverride" chart-click="onClick">
		</canvas>
	</div >
</div>
<div class ="row">
	<div class = "col col-sm-6">		
						<div class = "pannel">
							<div class = "pannel pannel-heading">
								<h3>
								<center> 
									TEMPERATURE
								</center> 
								</h3>
								<hr>
							</div>
							<div class = "pannel pannel-body">
								<canvas id="line" class="chart chart-line" chart-data="data1"
										chart-labels="labels"  chart-options="options"
										chart-click="onClick">
								</canvas>
							</div>							
						</div>
	</div>
		<div class = "col col-sm-6">			 
						<div class = "pannel">
							<div class = "pannel pannel-heading">
								<center>
									<h3> HUMIDITY  </h3>
									<hr>
								</center>
									
							</div>
							<div class = "pannel pannel-body">					 	
								<canvas id="line" class="chart chart-line" chart-data="data2"
										chart-labels="labels"  chart-options="options"
										chart-click="onClick">
								</canvas>
							</div>							
						</div>
					
		</div>
	</div>
</div>